body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #ffffff;
    color: #fff;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    border-top: 6px #60cdff solid !important;
    font-size: 16px;
}

.nav-link {
     font-size: 14px !important;
 }

.navbar {
    position: relative;
    box-shadow: none !important;
    background-color: rgb(27, 73, 143) !important;
}

.navbar-brand {
    font-size: 25px !important
}

.navbar-toggler-icon {
    color: #fff !important
}

.btn {
    border-radius: 5px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.btn-primary {
    background-color: #34a4ff !important
}
.btn-secondary {
    background-color: #2C2F33 !important
}
.heading {
    padding: 160px 50px !important;
    color: #fff !important;
    background-image: url("../background.png") !important;
    background-position: bottom !important;
    background-size: 100% !important; 
    background-repeat: no-repeat !important;
 
}

.bot-avatar{
   border-radius: 50%;
   width: 40px;
   height: 40px;
}

.title {
    color: #34a4ff !important;
    line-height: 90px !important;
    margin-bottom: -2px !important;
    font-size: 36px !important
}

.subtitle {
    color: rgb(255, 255, 255) !important;
    font-size: 16px !important;
}

.features {
    border-radius: 50px !important;
    text-align: center !important;
    background: #34a4ff !important;
    padding: 60px 50px !important
}
.features .title {
    font-size: 40px !important;
    color: rgb(255, 255, 255) !important;
    line-height: 70px !important;
}

.features .subtitle {
    font-size: 20px !important;
    color: #400372;
}

.cards {
    margin-top: 30px !important;
}

.card {
    border-radius: 10px !important;
    box-shadow: none !important;
}

.card-text {
    font-size: 12px !important;
    color: #78f4fd !important;
    line-height: 70px !important;
}

.card-title {
    font-size: 28px !important;
    font-weight: 600 !important;
    color: #7289DA !important;
}

.statistics {
    border-radius: 50px !important;
    background-color: #23272A !important;
    text-align: center !important;
    padding: 20px 20px !important;
}

.statistics .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 70px !important;
}

.statistics .subtitle {
    font-size: 20px !important;
    color: #a2a8bd;
}

.card.statistic {
    border-radius: 50px !important;
    background: transparent !important;
    box-shadow: none !important;
    color: #000000 !important;
}

.start {
    text-align: center !important;
    background: #202836 !important;
    padding: 60px 50px !important
}

.start .card {
    background: rgba(0, 0, 0, 0.651) !important;
    color: #353e4c !important;
}

.start .card .subtitle {
    color: rgba(255, 255, 255, 0.76) !important;
    font-size: 16px !important;
}

.footer {
    text-align: center !important;
    background: #353e4c !important;
    padding: 5px 6px !important;
    color: #ecf2ff;
    font-size: 14px !important
}

.footer a {
    color: #6086f6 !important;
    text-decoration: none !important;
    font-weight: bold !important;
}
